<section class="users-feedback">
    <h1 style="text-align: center;font-family: sans-serif;font-weight: 700;">{{feedback.title}}</h1>
    <div class="container">
        <div class="row ">
            <div class="col-md-4" *ngFor="let review of feedback.reviews" >
                <div class="users-review">
                    <p>{{review.description}}
                    </p>
                    <h5>{{review.name}}</h5>
                    <small>{{review.place}}</small>
                </div>
                <img
                    src="assets/images/feedback/person/{{review.pic}}">
            </div>
        </div>
    </div>
</section>