
<body>
    

<div class="top-navbar" id="a">
 
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mynav" style="background-color: rgb(6, 0, 12);">
        <div class="container-fluid ">
            
                <h1  class=" navbar-brand"  style="color: white; font-size: 300%;" >Good Trip</h1>
               
              

            <button   class="navbar-toggler ml-n5" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="logoicon" class="navbar-brand">
                <app-usericon [profileimage] = "profileimage"  ></app-usericon>
            </div>
            <div class="collapse col-xl-auto col-lg-auto col-ml-auto navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav mr-auto">
                    <li class="nav-item " >
                        <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">
                            <i class="fa fa-home" aria-hidden="true"></i>Home
                        </a>
                    </li>
                    <li class="nav-item " >
                        <a class="nav-link" [routerLink]="'/tourpackage'" routerLinkActive="active">
                            <i class='fas fa-globe-asia' ></i>Tour Packages
                        </a>
                    </li>
                    <li class="nav-item " >
                        <a  class="nav-link"   href="https://instabot.rkm.io/fLyY2">
                            <i class="fas fa-robot" aria-hidden="true"></i>Chat-Bot
                        </a>
                    </li>
                    <li class="nav-item " *ngIf="!isloggedin" >
                        <a class="nav-link" [routerLink]="[ '/login' ]" routerLinkActive="active">
                            <i class="fa fa-home" aria-hidden="true"></i>Login
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!isloggedin"   >
                        <a class="nav-link" [routerLink]="[ '/signup' ]" routerLinkActive="active">
                            <i class="fa fa-home" aria-hidden="true"></i> SignUp
                        </a>
                    </li>
                    &nbsp;
                    &nbsp;
                
                   
                    <li class="nav-item " >
                        <a class="nav-link" [routerLink]="'/blog'" routerLinkActive="active">
                            <i class="fas fa-blog" aria-hidden="true"></i>Blogs
                        </a>
                    </li>
                    <li class="nav-item " >
                        <a class="nav-link" href="https://simple-chat-io.herokuapp.com/">
                            <i class='far fa-comment' aria-hidden="true"></i>Chat
                        </a>
                    </li>
                    

                      
                            
                      
                  
                </ul>
            </div>
           <div class="" id="listicon">
                    <app-usericon [profileimage] = "profileimage"  ></app-usericon>
            </div>
        </div>
    </nav>
   
</div>


</body>