<section id="aboutus" class="container-fluid aboutus">
    <div class="info ">
        <h1 style="color: white;">Good Trip</h1>
        <br>
        <br>
        <div style="color:grey; font-family:Verdana, Geneva, Tahoma, sans-serif; line-height: 10px;">
            <p>KL University,</p>
            <p> Hyderabad</p>
           
        </div>
        <br>
        <p class="social" style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">
            Follow Us 
            <a href="https://www.facebook.com/Good-Trip-107891637842154" style="color: white;"><i class="fa fa-facebook" aria-hidden="true"></i></a>  
             <a href="#" style="color: white;"><i class="fa fa-instagram" aria-hidden="true"></i></a>   
             <a style="color: white;" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>
    </div>
    <div class="uselik ">
        <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Useful Links</p>
        
        <ul style="list-style: none;">
            <li><a style="text-decoration: none;" [routerLink]="['/FAQ']">FAQ</a></li>
        </ul>
    </div>
    <div class="gtch ">
        <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Get in touch</p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                class="fa fa-mobile" aria-hidden="true"></i>  +91 9390026605</p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                class="fa fa-envelope" aria-hidden="true"></i>  190330131@klh.edu.in
        </p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                class="fa fa-envelope" aria-hidden="true"></i>  190330250@klh.edu.in
        </p>
        <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
            class="fa fa-envelope" aria-hidden="true"></i>  190330124@klh.edu.in
    </p>
    </div>
</section>
