<section id="banner" class="banner">
    <div class="banner-highlights">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 wow slideInLeft" data-wow-delay="0.5s" data-wow-duration="0.5s"  style="font-family: sans-serif;font-weight: 800;">
                    <h2>Book now and get amazing offers</h2>
                    <p>Enjoy your vacations at low cost</p>
                </div>
                <div class="col-md-4 ">
                    <button type="button" class="book-btn wow slideInLeft" data-wow-delay="0.5s" ><a style="color: white; text-decoration: none;"
                            (click)="nsvigate()" >Book now</a></button>
                </div>
            </div>
        </div>
    </div>
</section>