<ul class="navbar-nav nav ml-auto">
    <li class="nav-item " *ngFor="let item of menu">
        <a class="nav-link" [routerLink]="item.link" routerLinkActive="active">
            <i class="fa fa-home" aria-hidden="true"></i>{{item.title}}
        </a>
    </li>   

</ul> 


<!-- 
                Another Method to add active class
            <a class="nav-link" [routerLink]="[ '/home' ]" (click)="getactivetab('home')" [class.active]="activetab === 'home'">   <i class="fa fa-home" aria-hidden="true"></i>
            Home </a> -->



            